/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/


#yesicon, #noicon{
    display: inline-block;
    width: 55px;
    height: 40px;
    margin: -10px 0 -10px;
}

#yesicon {background: url(../img/yesno.png) -0px 0px no-repeat;}
#noicon {background: url(../img/yesno.png) -80px 0px no-repeat;}

/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body { padding-top: 70px; }



/**
 * Bootstrap requires a containing element to wrap site contents 
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width, 
 * so that the container will not spread to the entire viewport.
*/

.container-fluid { max-width: 700px; }



/**
 * Bootstrap sets the HTML element to 10px and the body element
 * to 14px. These measurements do not scale, so all sizes can
 * be reset using em units.
*/

html,
body
{
	font-size: 1em; /* 16px/16px = 1em */
	line-height: 1.5; /* 24px/16px = 1.5 */
}

.h1,
h1
{
	margin: .666667em 0; /* 24px/36px = .67em */
	font-size: 2.25em; /* 36px/16px = 2.25em */
}

.h2, 
h2
{
	margin: .666667em 0 .533333em; /* 20px/30px = .666667em - 16px/30px = .533333em */
	font-size: 1.875em; /* 30px/16px = 1.875em */
}

.h3, 
h3
{
	margin: .833333em 0 .666667em; /* 20px/24px = .833333em - 16px/24px = .666667em */
	font-size: 1.5em; /* 24px/16px = 1.5em */
}

.h4, 
h4
{
	margin: 1em 0 .8em; /* 20px/20px = 1em - 16px/20px = .8em */
	font-size: 1.25em; /* 20px/16px = 1.5em */
}

.h5, 
h5
{
	margin: 1.25em 0 1em; /* 20px/16px = 1.25em - 16px/16px = 1em */
	font-size: 1em; /* 16px/16px = 1em */
}

.h6, 
h6
{
	margin: 1.428571em 0 1.142857em; /* 20px/14px = 1.428571em - 16px/14px = 1.142857em */
	font-size: .875em; /* 14px/16px = .875em */
}

p,
ol,
ul,
dl,
table { margin-bottom: 1.25em; /* 20px/16px = 1.25em */ }

blockquote 
{
	padding: .555556em 1.111111em; /* 10px/18px = .555556em - 20px/18px = 1.111111em */
	margin: 0 0 1.111111em; /* 20px/18px = 1.111111em */
	font-size: 1.125em; /* 18px/16px = 1.125em */
}

caption
{
	padding-top: .5em; /* 8px/16px = .5em */
	padding-bottom: .5em; /* 8px/16px = .5em */
}

.lead
{
	margin-bottom: 1em; /* 20px/20px = 1em */
	font-size: 1.25em; /* 20px/16px = 1.25em */
}

.navbar-brand {	font-size: 1.125em; /* 18px/16px = 1.125em */ }
.navbar-nav > li > a  { font-size: .875em;  /* 14px/16px = .875em */ }



/**
 * Larger font-sizes can be set for different breakpoints
*/

@media (min-width: 768px)
{
	html,
	body
	{
		font-size: 18px;
		line-height: 1.5;
	}
}

@media (min-width: 992px)
{
	html,
	body
	{
		font-size: 20px;
		line-height: 1.5;
	}
}

@media (min-width: 1200px)
{
	html,
	body
	{
		font-size: 21px;
		line-height: 1.5;
	}
}
